html, body {
  overflow-x: hidden;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  font-family: "Lato", Helvetica, Arial, serif;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1824px) {
  .container {
    width: 1770px;
  }
}

/* HEADER */
header {
  color:#EFF2F4;
}

header nav {
  padding: 1em 0;
}

header nav ul {
  display:inline;
  text-align: right;
  float: right;
  margin: 0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #333A56;
  border-radius: 8px;
}

header nav ul > li.btn-outline:hover {
  background: #333A56;
}

header nav ul > li > a {
  color: #333A56;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #EFF2F4;
}

header .rectangle_hero {
  display:block;
  position: relative;
  padding-top: 50px;
  text-align: right;
}

header .rectangle_hero h1 {
  font-size:45px;
  font-weight: normal;
  margin:50px 0 0;
  text-align: justify;
  text-align-last:right;
  padding: 20px 40px 5px 0;
  line-height: 45px;
}

header .rectangle_hero p {
  font-size: 19px;
  text-align: right;
  margin: 0px;
  padding: 0 40px 5px 0;
  line-height: 24px; 
}

header .btn {
  margin: 0 40px 50px 0;
}

#heroImage {
  background-image: url(https://static.pexels.com/photos/174/coffee-apple-iphone-laptop.jpg);
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Rectangle Header */
#rectangle {
    width:900px;
    height:215px;
    border-radius: 4px;
    background: #333A56;
}

 /* BUTTONS */
.btn {
  border-radius: 4px;
  color:#EFF2F4;
  font-weight: 700;
  text-decoration: none;
  padding:10px 30px;
  background: #1AC578;
  border: 2px solid #1AC578;
  box-shadow: 0px 2px 4px 0px #171922;
}

/* BENEFITS */
.benefits {
  color: #EFF2F4;
  background: #333A56;
  background-image: linear-gradient(-180deg, #626C8F 0%, #333A56 100%);
  margin: 0;
}

.benefits h2 {
  color: #EFF2F4;
  margin: 0px 50px 0 100px;
  text-align: right;
  padding: 50px 100px 20px 0;
}

.benefitsText {
  color: #EFF2F4;
  margin: 0 200px 0 300px;  
  text-align: right;
  padding-bottom: 63px;
} 

.benefitsText i {
  font-size: 20px;
  line-height: 16px;
  padding-right: 8px; 
}


.benefits img {
    float: right;
    padding: 50px 50px 0 100px;
    width: 620px;
    height: 410px;
}


/* PRICING */
.pricing {
  text-align: center;
  color: #333A56;
}

.pricing h2, .pricing p {
  color: #333A56;
  text-align: center;
}

.pricing ul {
  margin:0 auto;
  padding: 2em 0;
}

.pricing ul li {
  list-style-type: none;
  text-align: center;
}

.pricing p {
  font-size: 15px;
}

.pricing h3 {
  font-size: 28px;
}

.pricing h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
}

.container p {
  margin: 0 300px 0 300px;
}

.box h2 span.superscript {
  font-family: Lato-Light;
  font-size: 30px;
  color: #8D8F99;
  letter-spacing: 0px;
  vertical-align: baseline;
  position: relative;
  top: -1.15em;
}

.box h2 span.zero {
  font-family: Lato-Light;
  font-size: 80px;
  color: #333A56;
  line-height: 10px;
}

.box span.month {
  font-family: Lato-Light;
  font-size: 14px;
  color: #8D8F99;
  letter-spacing: 0px;
  line-height: 19px;
}

.container h4 {
  font-size: 22px;
}

.box {
  border-style: solid;
}



/* TESTIMONIALS */
.testimonials {
background: #333A56 url("../Images/testimonials.png") no-repeat;
background-size: 1440px 540px;
}









