html, body {
  overflow-x: hidden;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  font-family: "Lato", Helvetica, Arial, serif;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* HEADER */
header {
  color:#EFF2F4;
}
header nav {
  padding: 1em 0;
}
header nav ul {
  display:inline;
  text-align: right;
  float: right;
  margin: 0;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #333A56;
  border-radius: 8px;
}
header nav ul > li.btn-outline:hover {
  background: #333A56;
}
header nav ul > li > a {
  color: #333A56;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #EFF2F4;
}
header .rectangle_hero {
  display:block;
  position: relative;
}

header .rectangle_hero h1 {
  font-size:45px;
  font-weight: normal;
  margin:50px 0 0;
  text-align: justify;
  text-align-last:right;
  padding: 20px;
  line-height: 40px;
}
header .rectangle_hero p {
  font-size: 22px;
  text-align: right;
  margin: -30px 0 0;
  padding: 20px;
  line-height: 30px;
}

header .btn {
  position: relative;
  margin: -10px 0 0;

}

#heroImage {
  background-image: url(https://static.pexels.com/photos/174/coffee-apple-iphone-laptop.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Rectangle Header */
#rectangle{
    width:800px;
    height:200px;
    border-radius: 4px;
    background: #333A56;
    opacity: 0.9;
}

 /* BUTTONS */
.btn {
  border-radius: 4px;
  color:#EFF2F4;
  font-weight: 700;
  text-decoration: none;
  padding:10px 30px;
  background: #1AC578;
  border: 2px solid #1AC578;
  box-shadow: 0px 2px 4px 0px #171922;
}

