html, body {
  overflow-x: hidden;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: normal;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  font-family: "Lato", Helvetica, Arial, serif;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  box-sizing: border-box;
}

.container:before,
.container:after {
  content: " ";
  display: table;
  box-sizing: border-box;
}
.container:after {
  clear: both;
}

.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}



/* Small devices */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

}

@media (max-width: 768px) {
  .benefits img {
    display: none;
  }

  .benefits {
  padding: 20px; 
  }

  .benefitsText {
    width: 70%;
  }

  .benefits h2 {
    width:90%;
  }

  header .rectangle_hero {
    position: absolute;
  }

  header #rectangle {
    width: 95%;
  }

  header #rectangle h1{
    font-size: 24px;
    text-align: right;
    line-height: 24px;
    padding-left: -5px;
  }

  header .rectangle_hero h5 {
  font-size: 16px;
  padding-right: 45px;
  }


  .testimonials .stella {
   width:270%;
   margin-left: -340px;
  }

  .testimonials img{
    display:none;
  }

    
}

/* Medium devices */
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
}

@media (max-width: 992px) {
  header .one-half {
    position: absolute;
  } 
    .testimonials img{
    display:none;
  }
    .testimonials .quote {
    width: 115%;
    margin-left: -10%;
  }

}

/* Large desktop */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1824px) {
  .container {
    width: 1770px;
  }
}

/* HEADER */
header {
  color:#EFF2F4;
}

header .site-logo {
  padding-left: 30px;
}

header nav {
  padding: 1em 0;
}

header nav ul {
  display:inline;
  text-align: right;
  float: right;
  margin: 0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #333A56;
  border-radius: 8px;
}

header nav ul > li.btn-outline:hover {
  background: #333A56;
}

header nav ul > li > a {
  color: #333A56;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color: #EFF2F4;
}

header .rectangle_hero {
  display:block;
  position: relative;
  padding-top: 50px;
  text-align: right;
}

header .rectangle_hero h1 {
  font-size:45px;
  font-weight: normal;
  margin:50px 0 0;
  text-align: justify;
  text-align-last:right;
  padding: 20px 40px 5px 0px;
  line-height: 45px;
}

header .rectangle_hero h5 {
  font-size: 19px;
  padding-right: 45px;
}

header .btn {
  float: right;
  margin-right: 0px;
}

#heroImage {
  background-image: url(https://static.pexels.com/photos/174/coffee-apple-iphone-laptop.jpg);
  min-height: 650px;
  max-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Rectangle Header */
#rectangle {
    width:900px;
    height:220px;
    border-radius: 4px;
    background: #333A56;
}

 /* BUTTONS */
.btn {
  border-radius: 4px;
  color:#EFF2F4;
  font-weight: 700;
  text-decoration: none;
  padding:10px 30px;
  background: #1AC578;
  border: 2px solid #1AC578;
  box-shadow: 0px 2px 4px 0px #171922;
}

/* BENEFITS */
.benefits {
  color: #EFF2F4;
  background: #333A56;
  background-image: linear-gradient(-180deg, #626C8F 0%, #333A56 100%);
  min-width: 33.33%;
}

.benefits h2 {
  color: #EFF2F4;
  text-align: right;
  margin-right: 55%;
  padding-top: 20px;
  margin-bottom: 0;
  padding-bottom: 35px;
}

.benefits img {
  float: right;
  height: 35%;
  width: 45%;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 0;
}

.benefitsText i {
  font-size: 20px;
  line-height: 16px;
  padding-right:8px;
}

.benefitsText {
  color: #EFF2F4;
  text-align: right;
  font-family: "Lato-Light";
  margin-right: 55%;
  margin-left: 20%;
  padding-bottom: 20px;
}



/* PRICING */
.pricing {
  color: #333A56;
  text-align: center;
}
.pricing #planDescription {
  color: #333A56;
  text-align: center;
  font-size: 15px;
  font-family: "Lato-Light";
}

.pricing h2 {
  color: #333A56;
  text-align: center;
}

.pricing ul {
  margin:0 auto;
  padding: 2em 0;
}

.pricing ul li {
  list-style-type: none;
  text-align: center;
}

.pricing h2 {
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
}

.box h2 span.superscript {
  font-family: Lato-Light;
  font-size: 30px;
  color: #8D8F99;
  letter-spacing: 0px;
  vertical-align: baseline;
  position: relative;
  top: -1.15em;
}

.box h2 span.zero {
  font-family: Lato-Light;
  font-size: 80px;
  color: #333A56;
  line-height: 10px;
}

.box span.month {
  font-family: Lato-Light;
  font-size: 14px;
  color: #8D8F99;
  letter-spacing: 0px;
  line-height: 19px;
}

.container h4 {
  font-size: 22px;
}

.box:hover {
  border: 3px solid #777;
}

.pricing #smallprint {
  text-align: center;
  padding-bottom: 40px;
}



/* TESTIMONIALS */
.testimonials {
  background: #333A56 url("../Images/testimonials.png") top center no-repeat;
  background-size: cover;
  padding:2em 0;
  text-align: center;
}

.testimonials .one-third {
  position: relative;
  display: inline;
  text-align: center;
}

.testimonials #description {
  text-align: center;
  color: #EFF2F4;
  padding-bottom: 50px;
}

.testimonials .quote {
   background-color: #FFFFFF;
   position: relative;
   width:auto;
   margin:0 360px 15px 360px;
   box-shadow: 0px 2px 4px 0px #171922;
   border-radius: 25px;
   padding: 20px;
 }

 .testimonials blockquote {
    font-style: italic;
    text-align: center;
 }

.testimonials i {
  opacity: 0.51;
  font-size: 43.66px;
  color: rgba(141,143,153,0.53);
  left: 55px;
  position: absolute;
  top: 5px;
}

.testimonials i, blockquote {
  margin-top: 60px;
}

span.name {
  font-size: 28px;
  font-family: "Lato";
  text-align: center;
}

span.position {
  font-size: 18px;
  font-family: "Lato-Light";
  padding-top: 0; 
  text-align: center;
}

.testimonials img {
  position: absolute;
  left: 565px;
  top: 279%;
  z-index: 1;
  border-radius: 70px;
  padding top: 30px;
}

/* FOOTER */
footer .copyright-block {
  font-size:14px;
  font-weight:100;
  padding-left: 0;
  margin: 30px auto 0 40px;
}

footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 30px auto 0;
 }

 footer nav ul li {
   list-style-type: none;
   display: inline;
 }

 footer nav ul li a {
   color:#333A56;
   text-decoration: none;
 }

 footer .logo {
   margin: 15px auto 0;
   display: block;
 }


footer .copyright-block {
  min-width: 33.33%;
  text-align: center;
  color:#333A56;
}


@media (min-width: 992px) {
   footer {
     background-color: #EFF2F4;
   }

   footer .copyright-block, footer nav ul {
     padding: 2.5em 0;
     text-align: center;
   }

   footer .right-footer-block {
     background-color: #EFF2F4;
   }

   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }

/* SOCIAL MEDIA */
.social {
  background-color: rgba(50,57,86,0.50);
  font-size: 40px;
  color: #F1F2F5;
  float: left;
  text-align: center;
  padding: 20px 0;
  min-width: 20%;
}

 /* DASHBOARD */
 .dashboard {
   background: #EFF2F4;
 }

.left-nav {
  height: 100%;
  width: 280px;
  color: #FFFFFF;
  background: #333A56;
  background-image: linear-gradient(0deg, rgba(50,57,86,0.90) 0%, rgba(81,100,143,0.90) 100%);
  float:left;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/
}

.left-nav.open {
   display:block;
   width:280px;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
}

.hamburger {
  position:absolute;
  z-index: 1000;
  background:#333A56;
  color:#FFFFFF;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 4px;
  left: 5px;
  top: 15px;
}

@media (min-width: 992px) {
.left-nav {
   height: 100vh;
   width:14.66666667%;
   color:#FFFFFF;
   background: #34495E;
   background-image: linear-gradient(0deg, rgba(50,57,86,0.90) 0%, rgba(81,100,143,0.90) 100%);
   float:left;
   position: fixed;
   display:block;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
 }
  .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }

  .hamburger {
     display:none;
   }
 }

 .left-nav .site-logo {
   padding:20px 0;
   background:#333A56;
   display:block;
   text-align: center;
 }

 .left-nav .items {
   padding:0 6%;
 }

 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #E2E2E2;
   line-height: 15px;
 }

 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }

 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }

 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }

 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }

/* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#333A56;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
 }

 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }

 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }

 .left-nav .settings a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right:10px;
   margin-top: -5px;
 }

.items li a:link {
  color:#FFFFFF;
  text-decoration: none;
}

.items li a:visited {
  color:#FFFFFF;
  text-decoration: none;
}

 .items li a:hover {
    background-color: #1AC578;
    padding: 10px 5px 10px 5px;
}

 .items li a:active {
    background-color: white;
    color: black;
    padding: 10px 5px 10px 5px;
 }

 /* CONTENT */
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }

 .content .header {
   margin:0 1% 20px;
 }

 .content .header h1 {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #52658F;
   line-height: 44px;
   float: left;
   display:inline-block;
 }

 .content .header > a {
   float:right;
 }

 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }

 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }

 .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }

 .item-box h2 {
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }

 .item-box h2 a {
   color: #52658F;
   text-decoration: none;
 }

 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }

 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }

 /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }

   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }

/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }

   .content > .container {
     width:700px;
   }

   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }

/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }

   .content > .container {
     width:auto;
   }

   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }

 test
